* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'player1 player2'
    'ships1 ships2'
  ;
}

.board {
  background-color: blue;
  width: min-content;
  margin: 50px;
}

.board-square {
  width: 50px;
  height: 50px;
  border: 1px solid black;

}

.y-box {
  display: flex;
}

.x-box {
  background-color: purple;

}

.ship {
  background-color: blue;
}

.board.player1 {
  grid-area: player1;
}

.board.player2 {
  grid-area: player2;
}

.ships-container {
  display: flex;
  justify-content: space-evenly;
}

.ships-container.player1 {
  grid-area: ships1
}

.ships-container.player2 {
  grid-area: ships2
}
